<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="kdevsql" library="kdevsql" version="1">
<MenuBar>
 <Menu name="run">
  <text context="@title:menu">Run</text>

  <Action name="run_sql" group="run_operations"/>

 </Menu>
</MenuBar>

<ToolBar name="sqlToolbar">
    <text>SQL Toolbar</text>
    <Action name="run_sql"/>
    <Action name="select_connection"/>
</ToolBar>

</gui>
